* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .header {
    width: 100%;
    display: flex;
    margin-top: 12px;
    justify-content: center;
  }
  
  .product {
    list-style: none;
    padding: 12px;
    align-items: center;
    border: solid 1px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .product__price {
    color: red;
    font-size: 30px;
    font-weight: bold;
  }
  
  .total-price {
    width: 80%;
    color: red;
    display: flex;
    font-size: 30px;
    margin: 12px auto 0 auto;
    text-align: right;
    justify-content: flex-end;
  }
  
  .lists {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .products {
    width: 80%;
    display: flex;
    margin: 12px auto 0 auto;
    justify-content: center;
    flex-direction: column;
    border: solid 1px;
    padding: 12px;
  }
  
  .choose-products {
    width: 80%;
    height: fit-content;
    display: flex;
    margin: 12px auto 0 auto;
    justify-content: center;
    flex-direction: column;
    border: solid 1px;
    padding: 12px;
  }
  .button{
    size: 100px;
  }